PIPELINES_API_KEY=test

FINMARS_SPACE=space0ihxm
FINMARS_REALM=realm0v4ry
FINMARS_BASE_URL=https://eu-central.finmars.com
FINMARS_EXPERT_TOKEN=XXX
OPENAI_API_KEY=XXX

LANGFUSE_SECRET_KEY=XXX
LANGFUSE_PUBLIC_KEY=XXX
LANGFUSE_HOST=http://localhost:3000