TZ=Europe/Luxembourg

PIPELINES_API_KEY=test

# The following static variables are for non-OIDC setups
# Do not use these vars in `docker-compose-oidc-sso-keycloak-integration.yaml`
FINMARS_SPACE=space0ihxm
FINMARS_REALM=realm0v4ry
FINMARS_BASE_URL=https://eu-central.finmars.com
FINMARS_EXPERT_TOKEN=XXX

OPENAI_API_KEY=XXX

# or `langfuse`. (default: code)
PROMPT_SOURCE=code

ACTIVATE_PUBLIC_NAME=false

# Main domain where the Open WebUI is accessible
MAIN_DOMAIN_NAME=XXX  # your `MAIN_DOMAIN_NAME`
LETSENCRYPT_EMAIL=XXX # your `LETSENCRYPT_EMAIL` for `certbot`
