TZ=Europe/Luxembourg

PIPELINES_API_KEY=test

# The following static variables are for non-OIDC setups
# Do not use these vars in `docker-compose-oidc-sso-keycloak-integration.yaml`
FINMARS_SPACE=space0ihxm
FINMARS_REALM=realm0v4ry
FINMARS_BASE_URL=https://eu-central.finmars.com
FINMARS_EXPERT_TOKEN=XXX

OPENAI_API_KEY=XXX
GOOGLE_API_KEY=XXX

# or `langfuse`. (default: code)
PROMPT_SOURCE=code

ACTIVATE_PUBLIC_NAME=false

# Main domain where the Open WebUI is accessible
# your `AI_ASSISTANT_DOMAIN_NAME`, for example, ai.finmars-dev.click
AI_ASSISTANT_DOMAIN_NAME=XXX

# your `LETSENCRYPT_EMAIL` for `certbot`
LETSENCRYPT_EMAIL=XXX

# Could be models from google such as `gemini-2.5-flash` or from openai such as `gpt-5`
LLM_MODEL=gemini-2.5-flash
