TZ=Europe/Luxembourg

PIPELINES_API_KEY=test

FINMARS_SPACE=space0ihxm
FINMARS_REALM=realm0v4ry
FINMARS_BASE_URL=https://eu-central.finmars.com
FINMARS_EXPERT_TOKEN=XXX

OPENAI_API_KEY=XXX
GOOGLE_API_KEY=XXX

# or `langfuse`. (default: code)
PROMPT_SOURCE=code

ACTIVATE_PUBLIC_NAME=false

# Main domain where the Open WebUI is accessible
# your `AI_ASSISTANT_DOMAIN_NAME` should be the following format `subdomain.domain.tld`
# You should already have `domain.tld`.
# Write your free `subdomain` name as you wish, it just must be free regarding your domain
# for example, `ai.finmars-dev.click` or `assistant.finmars.com` etc
# The record of `subdomain` and the assignment to Public IP of VM and `subdomain.domain.tld` you should create later based on instruction
# For now, you should just set `subdomain` in `subdomain.domain.tld` (AI_ASSISTANT_DOMAIN_NAME) preliminary
AI_ASSISTANT_DOMAIN_NAME=XXX

# your `LETSENCRYPT_EMAIL` for `certbot`
LETSENCRYPT_EMAIL=XXX

# Could be models from google such as `gemini-2.5-flash` or from openai such as `gpt-5`
LLM_MODEL=gemini-2.5-flash
