# Pipelines (Open-WebUI)
fastapi==0.115.13
uvicorn[standard]==0.22.0
pydantic==2.7.4
python-multipart==0.0.9
python-socketio
grpcio

passlib==1.7.4
passlib[bcrypt]
PyJWT[crypto]

requests==2.32.2
aiohttp==3.9.5
httpx

# Agents
datamodel-code-generator==0.30.2
black==25.1.0
python-dotenv==1.1.0
pytest-asyncio==1.0.0
pytest==8.4.0
httpx==0.28.1
pydantic[email]
langgraph==0.4.8
langgraph-prebuilt==0.2.2
langfuse==3.0.2
langchain-openai==0.3.23
langchain==0.3.25

numexpr==2.11.0