{
  "openapi": "3.0.1",
  "info": {
    "title": "Finmars API",
    "description": "Finmars Documentation",
    "termsOfService": "https://www.finmars.com/policies/terms/",
    "contact": {
      "email": "admin@finmars.com"
    },
    "license": {
      "name": "BSD License"
    },
    "version": "v1",
    "x-logo": {
      "url": "https://finmars.com/wp-content/uploads/2023/04/logo.png",
      "backgroundColor": "#000",
      "href": "/realm0v4ry/docs/api/v1/"
    }
  },
  "servers": [
    {
      "url": "https://eu-central.finmars.com/"
    }
  ],
  "security": [
    {
      "Bearer": []
    },
    {
      "SingleSignOn": []
    }
  ],
  "paths": {
    "/{realm_code}/{space_code}/api/v1/reports/backend-balance-report/groups/": {
      "post": {
        "tags": [
          "Backend Balance Report"
        ],
        "summary": "Groups",
        "operationId": "Reports_Backend_Balance_Report_Groups",
        "parameters": [
          {
            "name": "realm_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "space_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BackendBalanceReportGroups"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BackendBalanceReportGroups"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      }
    },
    "/{realm_code}/{space_code}/api/v1/reports/backend-balance-report/items/": {
      "post": {
        "tags": [
          "Backend Balance Report"
        ],
        "summary": "Items",
        "operationId": "Reports_Backend_Balance_Report_Items",
        "parameters": [
          {
            "name": "realm_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "space_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BackendBalanceReportItems"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BackendBalanceReportItems"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      }
    },
    "/{realm_code}/{space_code}/api/v1/reports/backend-pl-report/groups/": {
      "post": {
        "tags": [
          "Backend Pl Report"
        ],
        "summary": "Groups",
        "operationId": "Reports_Backend_Pl_Report_Groups",
        "parameters": [
          {
            "name": "realm_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "space_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BackendPLReportGroups"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BackendPLReportGroups"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      }
    },
    "/{realm_code}/{space_code}/api/v1/reports/backend-pl-report/items/": {
      "post": {
        "tags": [
          "Backend Pl Report"
        ],
        "summary": "Items",
        "operationId": "Reports_Backend_Pl_Report_Items",
        "parameters": [
          {
            "name": "realm_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "space_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BackendPLReportItems"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BackendPLReportItems"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      }
    },
    "/{realm_code}/{space_code}/api/v1/reports/backend-transaction-report/groups/": {
      "post": {
        "tags": [
          "Backend Transaction Report"
        ],
        "summary": "Groups",
        "operationId": "Reports_Backend_Transaction_Report_Groups",
        "parameters": [
          {
            "name": "realm_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "space_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BackendTransactionReportGroups"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BackendTransactionReportGroups"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      }
    },
    "/{realm_code}/{space_code}/api/v1/reports/backend-transaction-report/items/": {
      "post": {
        "tags": [
          "Backend Transaction Report"
        ],
        "summary": "Items",
        "operationId": "Reports_Backend_Transaction_Report_Items",
        "parameters": [
          {
            "name": "realm_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "space_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BackendTransactionReportItems"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BackendTransactionReportItems"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      }
    },
    "/{realm_code}/{space_code}/api/v1/reports/balance-report-instance/": {
      "get": {
        "tags": [
          "Balance Report Instance"
        ],
        "summary": "List",
        "operationId": "Reports_Balance_Report_Instance_List",
        "parameters": [
          {
            "name": "realm_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "space_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "id",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_code",
            "in": "query",
            "description": "user_code",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "short_name",
            "in": "query",
            "description": "short_name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "public_name",
            "in": "query",
            "description": "public_name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ordering",
            "in": "query",
            "description": "Which field to use when ordering the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "A page number within the paginated result set.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of results to return per page.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "count",
                    "results"
                  ],
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "next": {
                      "type": "string",
                      "format": "uri",
                      "nullable": true
                    },
                    "previous": {
                      "type": "string",
                      "format": "uri",
                      "nullable": true
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/BalanceReportInstance"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Balance Report Instance"
        ],
        "summary": "Create",
        "operationId": "Reports_Balance_Report_Instance_Create",
        "parameters": [
          {
            "name": "realm_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "space_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BalanceReportInstance"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BalanceReportInstance"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      }
    },
    "/{realm_code}/{space_code}/api/v1/reports/balance-report-instance/bulk-delete/": {
      "post": {
        "tags": [
          "Balance Report Instance"
        ],
        "summary": "Bulk delete",
        "operationId": "Reports_Balance_Report_Instance_Bulk_Delete",
        "parameters": [
          {
            "name": "realm_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "space_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BalanceReportInstance"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BalanceReportInstance"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      }
    },
    "/{realm_code}/{space_code}/api/v1/reports/balance-report-instance/bulk-restore/": {
      "post": {
        "tags": [
          "Balance Report Instance"
        ],
        "summary": "Bulk restore",
        "operationId": "Reports_Balance_Report_Instance_Bulk_Restore",
        "parameters": [
          {
            "name": "realm_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "space_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BalanceReportInstance"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BalanceReportInstance"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      }
    },
    "/{realm_code}/{space_code}/api/v1/reports/balance-report-instance/ev-group/": {
      "post": {
        "tags": [
          "Balance Report Instance"
        ],
        "summary": "List ev group",
        "operationId": "Reports_Balance_Report_Instance_List_Ev_Group",
        "parameters": [
          {
            "name": "realm_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "space_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BalanceReportInstance"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BalanceReportInstance"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      }
    },
    "/{realm_code}/{space_code}/api/v1/reports/balance-report-instance/ev-item/": {
      "post": {
        "tags": [
          "Balance Report Instance"
        ],
        "summary": "List ev item",
        "operationId": "Reports_Balance_Report_Instance_List_Ev_Item",
        "parameters": [
          {
            "name": "realm_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "space_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BalanceReportInstance"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BalanceReportInstance"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      }
    },
    "/{realm_code}/{space_code}/api/v1/reports/balance-report-instance/{id}/": {
      "get": {
        "tags": [
          "Balance Report Instance"
        ],
        "summary": "Read",
        "operationId": "Reports_Balance_Report_Instance_Read",
        "parameters": [
          {
            "name": "realm_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "space_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "A unique integer value identifying this balance report instance.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BalanceReportInstance"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Balance Report Instance"
        ],
        "summary": "Update",
        "operationId": "Reports_Balance_Report_Instance_Update",
        "parameters": [
          {
            "name": "realm_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "space_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "A unique integer value identifying this balance report instance.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BalanceReportInstance"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BalanceReportInstance"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      },
      "delete": {
        "tags": [
          "Balance Report Instance"
        ],
        "summary": "Delete",
        "operationId": "Reports_Balance_Report_Instance_Delete",
        "parameters": [
          {
            "name": "realm_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "space_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "A unique integer value identifying this balance report instance.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "",
            "content": {}
          }
        }
      },
      "patch": {
        "tags": [
          "Balance Report Instance"
        ],
        "summary": "Partial update",
        "operationId": "Reports_Balance_Report_Instance_Partial_Update",
        "parameters": [
          {
            "name": "realm_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "space_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "A unique integer value identifying this balance report instance.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BalanceReportInstance"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BalanceReportInstance"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      }
    },
    "/{realm_code}/{space_code}/api/v1/reports/balance-report-instance/{id}/delete/": {
      "get": {
        "tags": [
          "Balance Report Instance"
        ],
        "summary": "Delete preview",
        "operationId": "Reports_Balance_Report_Instance_Delete_Preview",
        "parameters": [
          {
            "name": "realm_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "space_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "A unique integer value identifying this balance report instance.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BalanceReportInstance"
                }
              }
            }
          }
        }
      }
    },
    "/{realm_code}/{space_code}/api/v1/reports/balance-report-light/": {
      "post": {
        "tags": [
          "Balance Report Light"
        ],
        "summary": "Create",
        "operationId": "Reports_Balance_Report_Light_Create",
        "parameters": [
          {
            "name": "realm_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "space_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BalanceReportLight"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BalanceReportLight"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      }
    },
    "/{realm_code}/{space_code}/api/v1/reports/balance-report-light/attributes/": {
      "get": {
        "tags": [
          "Balance Report Light"
        ],
        "summary": "List attributes",
        "operationId": "Reports_Balance_Report_Light_List_Attributes",
        "parameters": [
          {
            "name": "realm_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "space_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BalanceReportLight"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/{realm_code}/{space_code}/api/v1/reports/balance-report-sql/": {
      "post": {
        "tags": [
          "Balance Report Sql"
        ],
        "summary": "Create",
        "operationId": "Reports_Balance_Report_Sql_Create",
        "parameters": [
          {
            "name": "realm_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "space_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BalanceReport"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BalanceReport"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      }
    },
    "/{realm_code}/{space_code}/api/v1/reports/balance-report-sql/attributes/": {
      "get": {
        "tags": [
          "Balance Report Sql"
        ],
        "summary": "List attributes",
        "operationId": "Reports_Balance_Report_Sql_List_Attributes",
        "parameters": [
          {
            "name": "realm_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "space_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BalanceReport"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/{realm_code}/{space_code}/api/v1/reports/balance-report/": {
      "post": {
        "tags": [
          "Balance Report"
        ],
        "summary": "Create",
        "operationId": "Reports_Balance_Report_Create",
        "parameters": [
          {
            "name": "realm_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "space_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BalanceReport"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BalanceReport"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      }
    },
    "/{realm_code}/{space_code}/api/v1/reports/balance-report/attributes/": {
      "get": {
        "tags": [
          "Balance Report"
        ],
        "summary": "List attributes",
        "operationId": "Reports_Balance_Report_List_Attributes",
        "parameters": [
          {
            "name": "realm_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "space_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BalanceReport"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/{realm_code}/{space_code}/api/v1/reports/balance-report/custom-field/": {
      "get": {
        "tags": [
          "Custom Field"
        ],
        "summary": "Custom-field List",
        "operationId": "Reports_Balance_Report_Custom_Field_List",
        "parameters": [
          {
            "name": "realm_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "space_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "id",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ordering",
            "in": "query",
            "description": "Which field to use when ordering the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "A page number within the paginated result set.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of results to return per page.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "count",
                    "results"
                  ],
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "next": {
                      "type": "string",
                      "format": "uri",
                      "nullable": true
                    },
                    "previous": {
                      "type": "string",
                      "format": "uri",
                      "nullable": true
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/BalanceReportCustomField"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Custom Field"
        ],
        "summary": "Custom-field Create",
        "operationId": "Reports_Balance_Report_Custom_Field_Create",
        "parameters": [
          {
            "name": "realm_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "space_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BalanceReportCustomField"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BalanceReportCustomField"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      }
    },
    "/{realm_code}/{space_code}/api/v1/reports/balance-report/custom-field/bulk-delete/": {
      "post": {
        "tags": [
          "Custom Field"
        ],
        "summary": "Custom-field Bulk delete",
        "operationId": "Reports_Balance_Report_Custom_Field_Bulk_Delete",
        "parameters": [
          {
            "name": "realm_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "space_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BalanceReportCustomField"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BalanceReportCustomField"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      }
    },
    "/{realm_code}/{space_code}/api/v1/reports/balance-report/custom-field/bulk-restore/": {
      "post": {
        "tags": [
          "Custom Field"
        ],
        "summary": "Custom-field Bulk restore",
        "operationId": "Reports_Balance_Report_Custom_Field_Bulk_Restore",
        "parameters": [
          {
            "name": "realm_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "space_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BalanceReportCustomField"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BalanceReportCustomField"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      }
    },
    "/{realm_code}/{space_code}/api/v1/reports/balance-report/custom-field/ev-group/": {
      "post": {
        "tags": [
          "Custom Field"
        ],
        "summary": "Custom-field List ev group",
        "operationId": "Reports_Balance_Report_Custom_Field_List_Ev_Group",
        "parameters": [
          {
            "name": "realm_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "space_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BalanceReportCustomField"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BalanceReportCustomField"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      }
    },
    "/{realm_code}/{space_code}/api/v1/reports/balance-report/custom-field/ev-item/": {
      "post": {
        "tags": [
          "Custom Field"
        ],
        "summary": "Custom-field List ev item",
        "operationId": "Reports_Balance_Report_Custom_Field_List_Ev_Item",
        "parameters": [
          {
            "name": "realm_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "space_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BalanceReportCustomField"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BalanceReportCustomField"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      }
    },
    "/{realm_code}/{space_code}/api/v1/reports/balance-report/custom-field/{id}/": {
      "get": {
        "tags": [
          "Custom Field"
        ],
        "summary": "Custom-field Read",
        "operationId": "Reports_Balance_Report_Custom_Field_Read",
        "parameters": [
          {
            "name": "realm_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "space_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "A unique integer value identifying this balance report custom field.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BalanceReportCustomField"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Custom Field"
        ],
        "summary": "Custom-field Update",
        "operationId": "Reports_Balance_Report_Custom_Field_Update",
        "parameters": [
          {
            "name": "realm_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "space_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "A unique integer value identifying this balance report custom field.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BalanceReportCustomField"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BalanceReportCustomField"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      },
      "delete": {
        "tags": [
          "Custom Field"
        ],
        "summary": "Custom-field Delete",
        "operationId": "Reports_Balance_Report_Custom_Field_Delete",
        "parameters": [
          {
            "name": "realm_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "space_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "A unique integer value identifying this balance report custom field.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "",
            "content": {}
          }
        }
      },
      "patch": {
        "tags": [
          "Custom Field"
        ],
        "summary": "Custom-field Partial update",
        "operationId": "Reports_Balance_Report_Custom_Field_Partial_Update",
        "parameters": [
          {
            "name": "realm_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "space_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "A unique integer value identifying this balance report custom field.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BalanceReportCustomField"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BalanceReportCustomField"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      }
    },
    "/{realm_code}/{space_code}/api/v1/reports/balance-report/custom-field/{id}/delete/": {
      "get": {
        "tags": [
          "Custom Field"
        ],
        "summary": "Custom-field Delete preview",
        "operationId": "Reports_Balance_Report_Custom_Field_Delete_Preview",
        "parameters": [
          {
            "name": "realm_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "space_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "A unique integer value identifying this balance report custom field.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BalanceReportCustomField"
                }
              }
            }
          }
        }
      }
    },
    "/{realm_code}/{space_code}/api/v1/reports/performance-report/": {
      "post": {
        "tags": [
          "Performance Report"
        ],
        "summary": "Create",
        "operationId": "Reports_Performance_Report_Create",
        "parameters": [
          {
            "name": "realm_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "space_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PerformanceReport"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PerformanceReport"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      }
    },
    "/{realm_code}/{space_code}/api/v1/reports/performance-report/first-transaction-date/": {
      "get": {
        "tags": [
          "Performance Report"
        ],
        "summary": "Filtered list",
        "operationId": "Reports_Performance_Report_Filtered_List",
        "parameters": [
          {
            "name": "realm_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "space_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PerformanceReport"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/{realm_code}/{space_code}/api/v1/reports/pl-report-instance/": {
      "get": {
        "tags": [
          "Pl Report Instance"
        ],
        "summary": "List",
        "operationId": "Reports_Pl_Report_Instance_List",
        "parameters": [
          {
            "name": "realm_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "space_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "id",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_code",
            "in": "query",
            "description": "user_code",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "short_name",
            "in": "query",
            "description": "short_name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "public_name",
            "in": "query",
            "description": "public_name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ordering",
            "in": "query",
            "description": "Which field to use when ordering the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "A page number within the paginated result set.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of results to return per page.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "count",
                    "results"
                  ],
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "next": {
                      "type": "string",
                      "format": "uri",
                      "nullable": true
                    },
                    "previous": {
                      "type": "string",
                      "format": "uri",
                      "nullable": true
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PLReportInstance"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Pl Report Instance"
        ],
        "summary": "Create",
        "operationId": "Reports_Pl_Report_Instance_Create",
        "parameters": [
          {
            "name": "realm_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "space_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PLReportInstance"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PLReportInstance"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      }
    },
    "/{realm_code}/{space_code}/api/v1/reports/pl-report-instance/bulk-delete/": {
      "post": {
        "tags": [
          "Pl Report Instance"
        ],
        "summary": "Bulk delete",
        "operationId": "Reports_Pl_Report_Instance_Bulk_Delete",
        "parameters": [
          {
            "name": "realm_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "space_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PLReportInstance"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PLReportInstance"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      }
    },
    "/{realm_code}/{space_code}/api/v1/reports/pl-report-instance/bulk-restore/": {
      "post": {
        "tags": [
          "Pl Report Instance"
        ],
        "summary": "Bulk restore",
        "operationId": "Reports_Pl_Report_Instance_Bulk_Restore",
        "parameters": [
          {
            "name": "realm_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "space_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PLReportInstance"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PLReportInstance"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      }
    },
    "/{realm_code}/{space_code}/api/v1/reports/pl-report-instance/ev-group/": {
      "post": {
        "tags": [
          "Pl Report Instance"
        ],
        "summary": "List ev group",
        "operationId": "Reports_Pl_Report_Instance_List_Ev_Group",
        "parameters": [
          {
            "name": "realm_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "space_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PLReportInstance"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PLReportInstance"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      }
    },
    "/{realm_code}/{space_code}/api/v1/reports/pl-report-instance/ev-item/": {
      "post": {
        "tags": [
          "Pl Report Instance"
        ],
        "summary": "List ev item",
        "operationId": "Reports_Pl_Report_Instance_List_Ev_Item",
        "parameters": [
          {
            "name": "realm_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "space_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PLReportInstance"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PLReportInstance"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      }
    },
    "/{realm_code}/{space_code}/api/v1/reports/pl-report-instance/{id}/": {
      "get": {
        "tags": [
          "Pl Report Instance"
        ],
        "summary": "Read",
        "operationId": "Reports_Pl_Report_Instance_Read",
        "parameters": [
          {
            "name": "realm_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "space_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "A unique integer value identifying this pl report instance.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PLReportInstance"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Pl Report Instance"
        ],
        "summary": "Update",
        "operationId": "Reports_Pl_Report_Instance_Update",
        "parameters": [
          {
            "name": "realm_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "space_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "A unique integer value identifying this pl report instance.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PLReportInstance"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PLReportInstance"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      },
      "delete": {
        "tags": [
          "Pl Report Instance"
        ],
        "summary": "Delete",
        "operationId": "Reports_Pl_Report_Instance_Delete",
        "parameters": [
          {
            "name": "realm_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "space_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "A unique integer value identifying this pl report instance.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "",
            "content": {}
          }
        }
      },
      "patch": {
        "tags": [
          "Pl Report Instance"
        ],
        "summary": "Partial update",
        "operationId": "Reports_Pl_Report_Instance_Partial_Update",
        "parameters": [
          {
            "name": "realm_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "space_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "A unique integer value identifying this pl report instance.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PLReportInstance"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PLReportInstance"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      }
    },
    "/{realm_code}/{space_code}/api/v1/reports/pl-report-instance/{id}/data/": {
      "get": {
        "tags": [
          "Pl Report Instance"
        ],
        "summary": "Data",
        "operationId": "Reports_Pl_Report_Instance_Data",
        "parameters": [
          {
            "name": "realm_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "space_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "A unique integer value identifying this pl report instance.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PLReportInstance"
                }
              }
            }
          }
        }
      }
    },
    "/{realm_code}/{space_code}/api/v1/reports/pl-report-instance/{id}/delete/": {
      "get": {
        "tags": [
          "Pl Report Instance"
        ],
        "summary": "Delete preview",
        "operationId": "Reports_Pl_Report_Instance_Delete_Preview",
        "parameters": [
          {
            "name": "realm_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "space_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "A unique integer value identifying this pl report instance.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PLReportInstance"
                }
              }
            }
          }
        }
      }
    },
    "/{realm_code}/{space_code}/api/v1/reports/pl-report-sql/": {
      "post": {
        "tags": [
          "Pl Report Sql"
        ],
        "summary": "Create",
        "operationId": "Reports_Pl_Report_Sql_Create",
        "parameters": [
          {
            "name": "realm_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "space_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PLReport"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PLReport"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      }
    },
    "/{realm_code}/{space_code}/api/v1/reports/pl-report-sql/attributes/": {
      "get": {
        "tags": [
          "Pl Report Sql"
        ],
        "summary": "List attributes",
        "operationId": "Reports_Pl_Report_Sql_List_Attributes",
        "parameters": [
          {
            "name": "realm_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "space_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PLReport"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/{realm_code}/{space_code}/api/v1/reports/pl-report/": {
      "post": {
        "tags": [
          "Pl Report"
        ],
        "summary": "Create",
        "operationId": "Reports_Pl_Report_Create",
        "parameters": [
          {
            "name": "realm_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "space_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PLReport"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PLReport"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      }
    },
    "/{realm_code}/{space_code}/api/v1/reports/pl-report/attributes/": {
      "get": {
        "tags": [
          "Pl Report"
        ],
        "summary": "List attributes",
        "operationId": "Reports_Pl_Report_List_Attributes",
        "parameters": [
          {
            "name": "realm_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "space_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PLReport"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/{realm_code}/{space_code}/api/v1/reports/pl-report/custom-field/": {
      "get": {
        "tags": [
          "Custom Field"
        ],
        "summary": "Custom-field List",
        "operationId": "Reports_Pl_Report_Custom_Field_List",
        "parameters": [
          {
            "name": "realm_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "space_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "id",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ordering",
            "in": "query",
            "description": "Which field to use when ordering the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "A page number within the paginated result set.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of results to return per page.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "count",
                    "results"
                  ],
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "next": {
                      "type": "string",
                      "format": "uri",
                      "nullable": true
                    },
                    "previous": {
                      "type": "string",
                      "format": "uri",
                      "nullable": true
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PLReportCustomField"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Custom Field"
        ],
        "summary": "Custom-field Create",
        "operationId": "Reports_Pl_Report_Custom_Field_Create",
        "parameters": [
          {
            "name": "realm_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "space_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PLReportCustomField"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PLReportCustomField"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      }
    },
    "/{realm_code}/{space_code}/api/v1/reports/pl-report/custom-field/bulk-delete/": {
      "post": {
        "tags": [
          "Custom Field"
        ],
        "summary": "Custom-field Bulk delete",
        "operationId": "Reports_Pl_Report_Custom_Field_Bulk_Delete",
        "parameters": [
          {
            "name": "realm_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "space_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PLReportCustomField"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PLReportCustomField"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      }
    },
    "/{realm_code}/{space_code}/api/v1/reports/pl-report/custom-field/bulk-restore/": {
      "post": {
        "tags": [
          "Custom Field"
        ],
        "summary": "Custom-field Bulk restore",
        "operationId": "Reports_Pl_Report_Custom_Field_Bulk_Restore",
        "parameters": [
          {
            "name": "realm_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "space_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PLReportCustomField"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PLReportCustomField"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      }
    },
    "/{realm_code}/{space_code}/api/v1/reports/pl-report/custom-field/ev-group/": {
      "post": {
        "tags": [
          "Custom Field"
        ],
        "summary": "Custom-field List ev group",
        "operationId": "Reports_Pl_Report_Custom_Field_List_Ev_Group",
        "parameters": [
          {
            "name": "realm_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "space_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PLReportCustomField"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PLReportCustomField"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      }
    },
    "/{realm_code}/{space_code}/api/v1/reports/pl-report/custom-field/ev-item/": {
      "post": {
        "tags": [
          "Custom Field"
        ],
        "summary": "Custom-field List ev item",
        "operationId": "Reports_Pl_Report_Custom_Field_List_Ev_Item",
        "parameters": [
          {
            "name": "realm_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "space_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PLReportCustomField"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PLReportCustomField"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      }
    },
    "/{realm_code}/{space_code}/api/v1/reports/pl-report/custom-field/{id}/": {
      "get": {
        "tags": [
          "Custom Field"
        ],
        "summary": "Custom-field Read",
        "operationId": "Reports_Pl_Report_Custom_Field_Read",
        "parameters": [
          {
            "name": "realm_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "space_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "A unique integer value identifying this pl report custom field.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PLReportCustomField"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Custom Field"
        ],
        "summary": "Custom-field Update",
        "operationId": "Reports_Pl_Report_Custom_Field_Update",
        "parameters": [
          {
            "name": "realm_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "space_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "A unique integer value identifying this pl report custom field.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PLReportCustomField"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PLReportCustomField"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      },
      "delete": {
        "tags": [
          "Custom Field"
        ],
        "summary": "Custom-field Delete",
        "operationId": "Reports_Pl_Report_Custom_Field_Delete",
        "parameters": [
          {
            "name": "realm_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "space_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "A unique integer value identifying this pl report custom field.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "",
            "content": {}
          }
        }
      },
      "patch": {
        "tags": [
          "Custom Field"
        ],
        "summary": "Custom-field Partial update",
        "operationId": "Reports_Pl_Report_Custom_Field_Partial_Update",
        "parameters": [
          {
            "name": "realm_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "space_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "A unique integer value identifying this pl report custom field.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PLReportCustomField"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PLReportCustomField"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      }
    },
    "/{realm_code}/{space_code}/api/v1/reports/pl-report/custom-field/{id}/delete/": {
      "get": {
        "tags": [
          "Custom Field"
        ],
        "summary": "Custom-field Delete preview",
        "operationId": "Reports_Pl_Report_Custom_Field_Delete_Preview",
        "parameters": [
          {
            "name": "realm_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "space_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "A unique integer value identifying this pl report custom field.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PLReportCustomField"
                }
              }
            }
          }
        }
      }
    },
    "/{realm_code}/{space_code}/api/v1/reports/price-history-check-sql/": {
      "post": {
        "tags": [
          "Price History Check Sql"
        ],
        "summary": "Create",
        "operationId": "Reports_Price_History_Check_Sql_Create",
        "parameters": [
          {
            "name": "realm_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "space_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PriceHistoryCheck"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PriceHistoryCheck"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      }
    },
    "/{realm_code}/{space_code}/api/v1/reports/price-history-check/": {
      "post": {
        "tags": [
          "Price History Check"
        ],
        "summary": "Create",
        "operationId": "Reports_Price_History_Check_Create",
        "parameters": [
          {
            "name": "realm_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "space_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PriceHistoryCheck"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PriceHistoryCheck"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      }
    },
    "/{realm_code}/{space_code}/api/v1/reports/summary/": {
      "get": {
        "tags": [
          "Summary"
        ],
        "summary": "List",
        "operationId": "Reports_Summary_List",
        "parameters": [
          {
            "name": "realm_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "space_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Summary"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/{realm_code}/{space_code}/api/v1/reports/summary/portfolios/": {
      "get": {
        "tags": [
          "Summary"
        ],
        "summary": "List portfolios",
        "operationId": "Reports_Summary_List_Portfolios",
        "parameters": [
          {
            "name": "realm_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "space_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Summary"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/{realm_code}/{space_code}/api/v1/reports/transaction-report-sql/": {
      "post": {
        "tags": [
          "Transaction Report Sql"
        ],
        "summary": "Create",
        "operationId": "Reports_Transaction_Report_Sql_Create",
        "parameters": [
          {
            "name": "realm_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "space_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransactionReport"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionReport"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      }
    },
    "/{realm_code}/{space_code}/api/v1/reports/transaction-report/": {
      "post": {
        "tags": [
          "Transaction Report"
        ],
        "summary": "Create",
        "operationId": "Reports_Transaction_Report_Create",
        "parameters": [
          {
            "name": "realm_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "space_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransactionReport"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionReport"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      }
    },
    "/{realm_code}/{space_code}/api/v1/reports/transaction-report/custom-field/": {
      "get": {
        "tags": [
          "Custom Field"
        ],
        "summary": "Custom-field List",
        "operationId": "Reports_Transaction_Report_Custom_Field_List",
        "parameters": [
          {
            "name": "realm_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "space_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "id",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ordering",
            "in": "query",
            "description": "Which field to use when ordering the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "A page number within the paginated result set.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of results to return per page.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "count",
                    "results"
                  ],
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "next": {
                      "type": "string",
                      "format": "uri",
                      "nullable": true
                    },
                    "previous": {
                      "type": "string",
                      "format": "uri",
                      "nullable": true
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/TransactionReportCustomField"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Custom Field"
        ],
        "summary": "Custom-field Create",
        "operationId": "Reports_Transaction_Report_Custom_Field_Create",
        "parameters": [
          {
            "name": "realm_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "space_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransactionReportCustomField"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionReportCustomField"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      }
    },
    "/{realm_code}/{space_code}/api/v1/reports/transaction-report/custom-field/bulk-delete/": {
      "post": {
        "tags": [
          "Custom Field"
        ],
        "summary": "Custom-field Bulk delete",
        "operationId": "Reports_Transaction_Report_Custom_Field_Bulk_Delete",
        "parameters": [
          {
            "name": "realm_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "space_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransactionReportCustomField"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionReportCustomField"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      }
    },
    "/{realm_code}/{space_code}/api/v1/reports/transaction-report/custom-field/bulk-restore/": {
      "post": {
        "tags": [
          "Custom Field"
        ],
        "summary": "Custom-field Bulk restore",
        "operationId": "Reports_Transaction_Report_Custom_Field_Bulk_Restore",
        "parameters": [
          {
            "name": "realm_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "space_code",
            "in": "path",
            "required": true,
[...]
