{
  "swagger": "2.0",
  "info": {
    "title": "Finmars API",
    "description": "Finmars Documentation",
    "termsOfService": "https://www.finmars.com/policies/terms/",
    "contact": {
      "email": "admin@finmars.com"
    },
    "license": {
      "name": "BSD License"
    },
    "x-logo": {
      "url": "https://finmars.com/wp-content/uploads/2023/04/logo.png",
      "backgroundColor": "#000",
      "href": "/realm0v4ry/docs/api/v1/"
    },
    "version": "v1"
  },
  "host": "eu-central.finmars.com",
  "schemes": [
    "https"
  ],
  "basePath": "/",
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "Bearer": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization",
      "description": "Enter token in format `Bearer <token>`. Token can be generated in /api/v1/auth-tokens/personal-access-token/create-token/"
    },
    "SingleSignOn": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization",
      "description": "Enter Access Token from Keycloak as `Token <token>`. "
    }
  },
  "security": [
    {
      "Bearer": []
    },
    {
      "SingleSignOn": []
    }
  ],
  "paths": {
    "/realm0v4ry/space0ihxm/api/v1/reports/backend-balance-report/groups/": {
      "post": {
        "operationId": "Reports_Backend_Balance_Report_Groups",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BackendBalanceReportGroups"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/BackendBalanceReportGroups"
            }
          }
        },
        "tags": [
          "Backend Balance Report"
        ],
        "summary": "Groups"
      },
      "parameters": [
        {
          "name": "realm_code",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "space_code",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/realm0v4ry/space0ihxm/api/v1/reports/backend-balance-report/items/": {
      "post": {
        "operationId": "Reports_Backend_Balance_Report_Items",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BackendBalanceReportItems"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/BackendBalanceReportItems"
            }
          }
        },
        "tags": [
          "Backend Balance Report"
        ],
        "summary": "Items"
      },
      "parameters": [
        {
          "name": "realm_code",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "space_code",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/realm0v4ry/space0ihxm/api/v1/reports/backend-pl-report/groups/": {
      "post": {
        "operationId": "Reports_Backend_Pl_Report_Groups",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BackendPLReportGroups"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/BackendPLReportGroups"
            }
          }
        },
        "tags": [
          "Backend Pl Report"
        ],
        "summary": "Groups"
      },
      "parameters": [
        {
          "name": "realm_code",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "space_code",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/realm0v4ry/space0ihxm/api/v1/reports/backend-pl-report/items/": {
      "post": {
        "operationId": "Reports_Backend_Pl_Report_Items",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BackendPLReportItems"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/BackendPLReportItems"
            }
          }
        },
        "tags": [
          "Backend Pl Report"
        ],
        "summary": "Items"
      },
      "parameters": [
        {
          "name": "realm_code",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "space_code",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/realm0v4ry/space0ihxm/api/v1/reports/backend-transaction-report/groups/": {
      "post": {
        "operationId": "Reports_Backend_Transaction_Report_Groups",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BackendTransactionReportGroups"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/BackendTransactionReportGroups"
            }
          }
        },
        "tags": [
          "Backend Transaction Report"
        ],
        "summary": "Groups"
      },
      "parameters": [
        {
          "name": "realm_code",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "space_code",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/realm0v4ry/space0ihxm/api/v1/reports/backend-transaction-report/items/": {
      "post": {
        "operationId": "Reports_Backend_Transaction_Report_Items",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BackendTransactionReportItems"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/BackendTransactionReportItems"
            }
          }
        },
        "tags": [
          "Backend Transaction Report"
        ],
        "summary": "Items"
      },
      "parameters": [
        {
          "name": "realm_code",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "space_code",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/realm0v4ry/space0ihxm/api/v1/reports/balance-report-instance/": {
      "get": {
        "operationId": "Reports_Balance_Report_Instance_List",
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "id",
            "required": false,
            "type": "string"
          },
          {
            "name": "user_code",
            "in": "query",
            "description": "user_code",
            "required": false,
            "type": "string"
          },
          {
            "name": "name",
            "in": "query",
            "description": "name",
            "required": false,
            "type": "string"
          },
          {
            "name": "short_name",
            "in": "query",
            "description": "short_name",
            "required": false,
            "type": "string"
          },
          {
            "name": "public_name",
            "in": "query",
            "description": "public_name",
            "required": false,
            "type": "string"
          },
          {
            "name": "ordering",
            "in": "query",
            "description": "Which field to use when ordering the results.",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "A page number within the paginated result set.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "required": [
                "count",
                "results"
              ],
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer"
                },
                "next": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/BalanceReportInstance"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Balance Report Instance"
        ],
        "summary": "List"
      },
      "post": {
        "operationId": "Reports_Balance_Report_Instance_Create",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BalanceReportInstance"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/BalanceReportInstance"
            }
          }
        },
        "tags": [
          "Balance Report Instance"
        ],
        "summary": "Create"
      },
      "parameters": [
        {
          "name": "realm_code",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "space_code",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/realm0v4ry/space0ihxm/api/v1/reports/balance-report-instance/bulk-delete/": {
      "post": {
        "operationId": "Reports_Balance_Report_Instance_Bulk_Delete",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BalanceReportInstance"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/BalanceReportInstance"
            }
          }
        },
        "tags": [
          "Balance Report Instance"
        ],
        "summary": "Bulk delete"
      },
      "parameters": [
        {
          "name": "realm_code",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "space_code",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/realm0v4ry/space0ihxm/api/v1/reports/balance-report-instance/bulk-restore/": {
      "post": {
        "operationId": "Reports_Balance_Report_Instance_Bulk_Restore",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BalanceReportInstance"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/BalanceReportInstance"
            }
          }
        },
        "tags": [
          "Balance Report Instance"
        ],
        "summary": "Bulk restore"
      },
      "parameters": [
        {
          "name": "realm_code",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "space_code",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/realm0v4ry/space0ihxm/api/v1/reports/balance-report-instance/ev-group/": {
      "post": {
        "operationId": "Reports_Balance_Report_Instance_List_Ev_Group",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BalanceReportInstance"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/BalanceReportInstance"
            }
          }
        },
        "tags": [
          "Balance Report Instance"
        ],
        "summary": "List ev group"
      },
      "parameters": [
        {
          "name": "realm_code",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "space_code",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/realm0v4ry/space0ihxm/api/v1/reports/balance-report-instance/ev-item/": {
      "post": {
        "operationId": "Reports_Balance_Report_Instance_List_Ev_Item",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BalanceReportInstance"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/BalanceReportInstance"
            }
          }
        },
        "tags": [
          "Balance Report Instance"
        ],
        "summary": "List ev item"
      },
      "parameters": [
        {
          "name": "realm_code",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "space_code",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/realm0v4ry/space0ihxm/api/v1/reports/balance-report-instance/{id}/": {
      "get": {
        "operationId": "Reports_Balance_Report_Instance_Read",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/BalanceReportInstance"
            }
          }
        },
        "tags": [
          "Balance Report Instance"
        ],
        "summary": "Read"
      },
      "put": {
        "operationId": "Reports_Balance_Report_Instance_Update",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BalanceReportInstance"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/BalanceReportInstance"
            }
          }
        },
        "tags": [
          "Balance Report Instance"
        ],
        "summary": "Update"
      },
      "patch": {
        "operationId": "Reports_Balance_Report_Instance_Partial_Update",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BalanceReportInstance"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/BalanceReportInstance"
            }
          }
        },
        "tags": [
          "Balance Report Instance"
        ],
        "summary": "Partial update"
      },
      "delete": {
        "operationId": "Reports_Balance_Report_Instance_Delete",
        "description": "",
        "parameters": [],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "tags": [
          "Balance Report Instance"
        ],
        "summary": "Delete"
      },
      "parameters": [
        {
          "name": "realm_code",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "space_code",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "id",
          "in": "path",
          "description": "A unique integer value identifying this balance report instance.",
          "required": true,
          "type": "integer"
        }
      ]
    },
    "/realm0v4ry/space0ihxm/api/v1/reports/balance-report-instance/{id}/delete/": {
      "get": {
        "operationId": "Reports_Balance_Report_Instance_Delete_Preview",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/BalanceReportInstance"
            }
          }
        },
        "tags": [
          "Balance Report Instance"
        ],
        "summary": "Delete preview"
      },
      "parameters": [
        {
          "name": "realm_code",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "space_code",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "id",
          "in": "path",
          "description": "A unique integer value identifying this balance report instance.",
          "required": true,
          "type": "integer"
        }
      ]
    },
    "/realm0v4ry/space0ihxm/api/v1/reports/balance-report-light/": {
      "post": {
        "operationId": "Reports_Balance_Report_Light_Create",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BalanceReportLight"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/BalanceReportLight"
            }
          }
        },
        "tags": [
          "Balance Report Light"
        ],
        "summary": "Create"
      },
      "parameters": [
        {
          "name": "realm_code",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "space_code",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/realm0v4ry/space0ihxm/api/v1/reports/balance-report-light/attributes/": {
      "get": {
        "operationId": "Reports_Balance_Report_Light_List_Attributes",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BalanceReportLight"
              }
            }
          }
        },
        "tags": [
          "Balance Report Light"
        ],
        "summary": "List attributes"
      },
      "parameters": [
        {
          "name": "realm_code",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "space_code",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/realm0v4ry/space0ihxm/api/v1/reports/balance-report-sql/": {
      "post": {
        "operationId": "Reports_Balance_Report_Sql_Create",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BalanceReport"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/BalanceReport"
            }
          }
        },
        "tags": [
          "Balance Report Sql"
        ],
        "summary": "Create"
      },
      "parameters": [
        {
          "name": "realm_code",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "space_code",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/realm0v4ry/space0ihxm/api/v1/reports/balance-report-sql/attributes/": {
      "get": {
        "operationId": "Reports_Balance_Report_Sql_List_Attributes",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BalanceReport"
              }
            }
          }
        },
        "tags": [
          "Balance Report Sql"
        ],
        "summary": "List attributes"
      },
      "parameters": [
        {
          "name": "realm_code",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "space_code",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/realm0v4ry/space0ihxm/api/v1/reports/balance-report/": {
      "post": {
        "operationId": "Reports_Balance_Report_Create",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BalanceReport"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/BalanceReport"
            }
          }
        },
        "tags": [
          "Balance Report"
        ],
        "summary": "Create"
      },
      "parameters": [
        {
          "name": "realm_code",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "space_code",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/realm0v4ry/space0ihxm/api/v1/reports/balance-report/attributes/": {
      "get": {
        "operationId": "Reports_Balance_Report_List_Attributes",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BalanceReport"
              }
            }
          }
        },
        "tags": [
          "Balance Report"
        ],
        "summary": "List attributes"
      },
      "parameters": [
        {
          "name": "realm_code",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "space_code",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/realm0v4ry/space0ihxm/api/v1/reports/balance-report/custom-field/": {
      "get": {
        "operationId": "Reports_Balance_Report_Custom_Field_List",
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "id",
            "required": false,
            "type": "string"
          },
          {
            "name": "name",
            "in": "query",
            "description": "name",
            "required": false,
            "type": "string"
          },
          {
            "name": "ordering",
            "in": "query",
            "description": "Which field to use when ordering the results.",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "A page number within the paginated result set.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "required": [
                "count",
                "results"
              ],
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer"
                },
                "next": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/BalanceReportCustomField"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Custom Field"
        ],
        "summary": "Custom-field List"
      },
      "post": {
        "operationId": "Reports_Balance_Report_Custom_Field_Create",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BalanceReportCustomField"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/BalanceReportCustomField"
            }
          }
        },
        "tags": [
          "Custom Field"
        ],
        "summary": "Custom-field Create"
      },
      "parameters": [
        {
          "name": "realm_code",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "space_code",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/realm0v4ry/space0ihxm/api/v1/reports/balance-report/custom-field/bulk-delete/": {
      "post": {
        "operationId": "Reports_Balance_Report_Custom_Field_Bulk_Delete",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BalanceReportCustomField"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/BalanceReportCustomField"
            }
          }
        },
        "tags": [
          "Custom Field"
        ],
        "summary": "Custom-field Bulk delete"
      },
      "parameters": [
        {
          "name": "realm_code",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "space_code",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/realm0v4ry/space0ihxm/api/v1/reports/balance-report/custom-field/bulk-restore/": {
      "post": {
        "operationId": "Reports_Balance_Report_Custom_Field_Bulk_Restore",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BalanceReportCustomField"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/BalanceReportCustomField"
            }
          }
        },
        "tags": [
          "Custom Field"
        ],
        "summary": "Custom-field Bulk restore"
      },
      "parameters": [
        {
          "name": "realm_code",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "space_code",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/realm0v4ry/space0ihxm/api/v1/reports/balance-report/custom-field/ev-group/": {
      "post": {
        "operationId": "Reports_Balance_Report_Custom_Field_List_Ev_Group",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BalanceReportCustomField"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/BalanceReportCustomField"
            }
          }
        },
        "tags": [
          "Custom Field"
        ],
        "summary": "Custom-field List ev group"
      },
      "parameters": [
        {
          "name": "realm_code",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "space_code",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/realm0v4ry/space0ihxm/api/v1/reports/balance-report/custom-field/ev-item/": {
      "post": {
        "operationId": "Reports_Balance_Report_Custom_Field_List_Ev_Item",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BalanceReportCustomField"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/BalanceReportCustomField"
            }
          }
        },
        "tags": [
          "Custom Field"
        ],
        "summary": "Custom-field List ev item"
      },
      "parameters": [
        {
          "name": "realm_code",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "space_code",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/realm0v4ry/space0ihxm/api/v1/reports/balance-report/custom-field/{id}/": {
      "get": {
        "operationId": "Reports_Balance_Report_Custom_Field_Read",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/BalanceReportCustomField"
            }
          }
        },
        "tags": [
          "Custom Field"
        ],
        "summary": "Custom-field Read"
      },
      "put": {
        "operationId": "Reports_Balance_Report_Custom_Field_Update",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BalanceReportCustomField"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/BalanceReportCustomField"
            }
          }
        },
        "tags": [
          "Custom Field"
        ],
        "summary": "Custom-field Update"
      },
      "patch": {
        "operationId": "Reports_Balance_Report_Custom_Field_Partial_Update",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BalanceReportCustomField"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/BalanceReportCustomField"
            }
          }
        },
        "tags": [
          "Custom Field"
        ],
        "summary": "Custom-field Partial update"
      },
      "delete": {
        "operationId": "Reports_Balance_Report_Custom_Field_Delete",
        "description": "",
        "parameters": [],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "tags": [
          "Custom Field"
        ],
        "summary": "Custom-field Delete"
      },
      "parameters": [
        {
          "name": "realm_code",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "space_code",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "id",
          "in": "path",
          "description": "A unique integer value identifying this balance report custom field.",
          "required": true,
          "type": "integer"
        }
      ]
    },
    "/realm0v4ry/space0ihxm/api/v1/reports/balance-report/custom-field/{id}/delete/": {
      "get": {
        "operationId": "Reports_Balance_Report_Custom_Field_Delete_Preview",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/BalanceReportCustomField"
            }
          }
        },
        "tags": [
          "Custom Field"
        ],
        "summary": "Custom-field Delete preview"
      },
      "parameters": [
        {
          "name": "realm_code",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "space_code",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "id",
          "in": "path",
          "description": "A unique integer value identifying this balance report custom field.",
          "required": true,
          "type": "integer"
        }
      ]
    },
    "/realm0v4ry/space0ihxm/api/v1/reports/performance-report/": {
      "post": {
        "operationId": "Reports_Performance_Report_Create",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PerformanceReport"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/PerformanceReport"
            }
          }
        },
        "tags": [
          "Performance Report"
        ],
        "summary": "Create"
      },
      "parameters": [
        {
          "name": "realm_code",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "space_code",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/realm0v4ry/space0ihxm/api/v1/reports/performance-report/first-transaction-date/": {
      "get": {
        "operationId": "Reports_Performance_Report_Filtered_List",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PerformanceReport"
              }
            }
          }
        },
        "tags": [
          "Performance Report"
        ],
        "summary": "Filtered list"
      },
      "parameters": [
        {
          "name": "realm_code",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "space_code",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/realm0v4ry/space0ihxm/api/v1/reports/pl-report-instance/": {
      "get": {
        "operationId": "Reports_Pl_Report_Instance_List",
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "id",
            "required": false,
            "type": "string"
          },
          {
            "name": "user_code",
            "in": "query",
            "description": "user_code",
            "required": false,
            "type": "string"
          },
          {
            "name": "name",
            "in": "query",
            "description": "name",
            "required": false,
            "type": "string"
          },
          {
            "name": "short_name",
            "in": "query",
            "description": "short_name",
            "required": false,
            "type": "string"
          },
          {
            "name": "public_name",
            "in": "query",
            "description": "public_name",
            "required": false,
            "type": "string"
          },
          {
            "name": "ordering",
            "in": "query",
            "description": "Which field to use when ordering the results.",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "A page number within the paginated result set.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "required": [
                "count",
                "results"
              ],
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer"
                },
                "next": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/PLReportInstance"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Pl Report Instance"
        ],
        "summary": "List"
      },
      "post": {
        "operationId": "Reports_Pl_Report_Instance_Create",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PLReportInstance"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/PLReportInstance"
            }
          }
        },
        "tags": [
          "Pl Report Instance"
        ],
        "summary": "Create"
      },
      "parameters": [
        {
          "name": "realm_code",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "space_code",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/realm0v4ry/space0ihxm/api/v1/reports/pl-report-instance/bulk-delete/": {
      "post": {
        "operationId": "Reports_Pl_Report_Instance_Bulk_Delete",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PLReportInstance"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/PLReportInstance"
            }
          }
        },
        "tags": [
          "Pl Report Instance"
        ],
        "summary": "Bulk delete"
      },
      "parameters": [
        {
          "name": "realm_code",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "space_code",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/realm0v4ry/space0ihxm/api/v1/reports/pl-report-instance/bulk-restore/": {
      "post": {
        "operationId": "Reports_Pl_Report_Instance_Bulk_Restore",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PLReportInstance"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/PLReportInstance"
            }
          }
        },
        "tags": [
          "Pl Report Instance"
        ],
        "summary": "Bulk restore"
      },
      "parameters": [
        {
          "name": "realm_code",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "space_code",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/realm0v4ry/space0ihxm/api/v1/reports/pl-report-instance/ev-group/": {
      "post": {
        "operationId": "Reports_Pl_Report_Instance_List_Ev_Group",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PLReportInstance"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/PLReportInstance"
            }
          }
        },
        "tags": [
          "Pl Report Instance"
        ],
        "summary": "List ev group"
      },
      "parameters": [
        {
          "name": "realm_code",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "space_code",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/realm0v4ry/space0ihxm/api/v1/reports/pl-report-instance/ev-item/": {
      "post": {
        "operationId": "Reports_Pl_Report_Instance_List_Ev_Item",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PLReportInstance"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/PLReportInstance"
            }
          }
        },
        "tags": [
          "Pl Report Instance"
        ],
        "summary": "List ev item"
      },
      "parameters": [
        {
          "name": "realm_code",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "space_code",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/realm0v4ry/space0ihxm/api/v1/reports/pl-report-instance/{id}/": {
      "get": {
        "operationId": "Reports_Pl_Report_Instance_Read",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/PLReportInstance"
            }
          }
        },
        "tags": [
          "Pl Report Instance"
        ],
        "summary": "Read"
      },
      "put": {
        "operationId": "Reports_Pl_Report_Instance_Update",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PLReportInstance"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/PLReportInstance"
            }
          }
        },
        "tags": [
          "Pl Report Instance"
        ],
        "summary": "Update"
      },
      "patch": {
        "operationId": "Reports_Pl_Report_Instance_Partial_Update",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PLReportInstance"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/PLReportInstance"
            }
          }
        },
        "tags": [
          "Pl Report Instance"
        ],
        "summary": "Partial update"
      },
      "delete": {
        "operationId": "Reports_Pl_Report_Instance_Delete",
        "description": "",
        "parameters": [],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "tags": [
          "Pl Report Instance"
        ],
        "summary": "Delete"
      },
      "parameters": [
        {
          "name": "realm_code",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "space_code",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "id",
          "in": "path",
          "description": "A unique integer value identifying this pl report instance.",
          "required": true,
          "type": "integer"
        }
      ]
    },
    "/realm0v4ry/space0ihxm/api/v1/reports/pl-report-instance/{id}/data/": {
      "get": {
        "operationId": "Reports_Pl_Report_Instance_Data",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/PLReportInstance"
            }
          }
        },
        "tags": [
          "Pl Report Instance"
        ],
        "summary": "Data"
      },
      "parameters": [
        {
          "name": "realm_code",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "space_code",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "id",
          "in": "path",
          "description": "A unique integer value identifying this pl report instance.",
          "required": true,
          "type": "integer"
        }
      ]
    },
    "/realm0v4ry/space0ihxm/api/v1/reports/pl-report-instance/{id}/delete/": {
      "get": {
        "operationId": "Reports_Pl_Report_Instance_Delete_Preview",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/PLReportInstance"
            }
          }
        },
        "tags": [
          "Pl Report Instance"
        ],
        "summary": "Delete preview"
      },
      "parameters": [
        {
          "name": "realm_code",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "space_code",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "id",
          "in": "path",
          "description": "A unique integer value identifying this pl report instance.",
          "required": true,
          "type": "integer"
        }
      ]
    },
    "/realm0v4ry/space0ihxm/api/v1/reports/pl-report-sql/": {
      "post": {
        "operationId": "Reports_Pl_Report_Sql_Create",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PLReport"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/PLReport"
            }
          }
        },
        "tags": [
          "Pl Report Sql"
        ],
        "summary": "Create"
      },
      "parameters": [
        {
          "name": "realm_code",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "space_code",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/realm0v4ry/space0ihxm/api/v1/reports/pl-report-sql/attributes/": {
      "get": {
        "operationId": "Reports_Pl_Report_Sql_List_Attributes",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PLReport"
              }
            }
          }
        },
        "tags": [
          "Pl Report Sql"
        ],
        "summary": "List attributes"
      },
      "parameters": [
        {
          "name": "realm_code",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "space_code",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/realm0v4ry/space0ihxm/api/v1/reports/pl-report/": {
      "post": {
        "operationId": "Reports_Pl_Report_Create",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PLReport"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/PLReport"
            }
          }
        },
        "tags": [
          "Pl Report"
        ],
        "summary": "Create"
      },
      "parameters": [
        {
          "name": "realm_code",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "space_code",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/realm0v4ry/space0ihxm/api/v1/reports/pl-report/attributes/": {
      "get": {
        "operationId": "Reports_Pl_Report_List_Attributes",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PLReport"
              }
            }
          }
        },
        "tags": [
          "Pl Report"
        ],
        "summary": "List attributes"
      },
      "parameters": [
        {
          "name": "realm_code",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "space_code",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/realm0v4ry/space0ihxm/api/v1/reports/pl-report/custom-field/": {
      "get": {
        "operationId": "Reports_Pl_Report_Custom_Field_List",
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "id",
            "required": false,
            "type": "string"
          },
          {
            "name": "name",
            "in": "query",
            "description": "name",
            "required": false,
            "type": "string"
          },
          {
            "name": "ordering",
            "in": "query",
            "description": "Which field to use when ordering the results.",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "A page number within the paginated result set.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "required": [
                "count",
                "results"
              ],
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer"
                },
                "next": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/PLReportCustomField"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Custom Field"
        ],
        "summary": "Custom-field List"
      },
      "post": {
        "operationId": "Reports_Pl_Report_Custom_Field_Create",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PLReportCustomField"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/PLReportCustomField"
            }
          }
        },
        "tags": [
          "Custom Field"
        ],
        "summary": "Custom-field Create"
      },
      "parameters": [
        {
          "name": "realm_code",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "space_code",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/realm0v4ry/space0ihxm/api/v1/reports/pl-report/custom-field/bulk-delete/": {
      "post": {
        "operationId": "Reports_Pl_Report_Custom_Field_Bulk_Delete",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PLReportCustomField"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/PLReportCustomField"
            }
          }
        },
        "tags": [
          "Custom Field"
        ],
        "summary": "Custom-field Bulk delete"
      },
      "parameters": [
        {
          "name": "realm_code",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "space_code",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/realm0v4ry/space0ihxm/api/v1/reports/pl-report/custom-field/bulk-restore/": {
      "post": {
        "operationId": "Reports_Pl_Report_Custom_Field_Bulk_Restore",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PLReportCustomField"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/PLReportCustomField"
            }
          }
        },
        "tags": [
          "Custom Field"
        ],
        "summary": "Custom-field Bulk restore"
      },
      "parameters": [
        {
          "name": "realm_code",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "space_code",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/realm0v4ry/space0ihxm/api/v1/reports/pl-report/custom-field/ev-group/": {
      "post": {
        "operationId": "Reports_Pl_Report_Custom_Field_List_Ev_Group",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PLReportCustomField"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/PLReportCustomField"
            }
          }
        },
        "tags": [
          "Custom Field"
        ],
        "summary": "Custom-field List ev group"
      },
      "parameters": [
        {
          "name": "realm_code",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "space_code",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/realm0v4ry/space0ihxm/api/v1/reports/pl-report/custom-field/ev-item/": {
      "post": {
        "operationId": "Reports_Pl_Report_Custom_Field_List_Ev_Item",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PLReportCustomField"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/PLReportCustomField"
            }
          }
        },
        "tags": [
          "Custom Field"
        ],
        "summary": "Custom-field List ev item"
      },
      "parameters": [
        {
          "name": "realm_code",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "space_code",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/realm0v4ry/space0ihxm/api/v1/reports/pl-report/custom-field/{id}/": {
      "get": {
        "operationId": "Reports_Pl_Report_Custom_Field_Read",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/PLReportCustomField"
            }
          }
        },
        "tags": [
          "Custom Field"
        ],
        "summary": "Custom-field Read"
      },
      "put": {
        "operationId": "Reports_Pl_Report_Custom_Field_Update",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PLReportCustomField"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/PLReportCustomField"
            }
          }
        },
        "tags": [
          "Custom Field"
        ],
        "summary": "Custom-field Update"
      },
      "patch": {
        "operationId": "Reports_Pl_Report_Custom_Field_Partial_Update",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PLReportCustomField"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/PLReportCustomField"
            }
          }
        },
        "tags": [
          "Custom Field"
        ],
        "summary": "Custom-field Partial update"
      },
      "delete": {
        "operationId": "Reports_Pl_Report_Custom_Field_Delete",
        "description": "",
        "parameters": [],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "tags": [
          "Custom Field"
        ],
        "summary": "Custom-field Delete"
      },
      "parameters": [
        {
          "name": "realm_code",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "space_code",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "id",
          "in": "path",
          "description": "A unique integer value identifying this pl report custom field.",
          "required": true,
          "type": "integer"
        }
      ]
    },
    "/realm0v4ry/space0ihxm/api/v1/reports/pl-report/custom-field/{id}/delete/": {
      "get": {
        "operationId": "Reports_Pl_Report_Custom_Field_Delete_Preview",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/PLReportCustomField"
            }
          }
        },
        "tags": [
          "Custom Field"
        ],
        "summary": "Custom-field Delete preview"
      },
      "parameters": [
        {
          "name": "realm_code",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "space_code",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "id",
          "in": "path",
          "description": "A unique integer value identifying this pl report custom field.",
          "required": true,
          "type": "integer"
        }
      ]
    },
    "/realm0v4ry/space0ihxm/api/v1/reports/price-history-check-sql/": {
      "post": {
        "operationId": "Reports_Price_History_Check_Sql_Create",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PriceHistoryCheck"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/PriceHistoryCheck"
            }
          }
        },
        "tags": [
          "Price History Check Sql"
        ],
        "summary": "Create"
      },
      "parameters": [
        {
          "name": "realm_code",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "space_code",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/realm0v4ry/space0ihxm/api/v1/reports/price-history-check/": {
      "post": {
        "operationId": "Reports_Price_History_Check_Create",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PriceHistoryCheck"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/PriceHistoryCheck"
            }
          }
        },
        "tags": [
          "Price History Check"
        ],
        "summary": "Create"
      },
      "parameters": [
        {
          "name": "realm_code",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "space_code",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/realm0v4ry/space0ihxm/api/v1/reports/summary/": {
      "get": {
        "operationId": "Reports_Summary_List",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Summary"
              }
            }
          }
        },
        "tags": [
          "Summary"
        ],
        "summary": "List"
      },
      "parameters": [
        {
          "name": "realm_code",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "space_code",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/realm0v4ry/space0ihxm/api/v1/reports/summary/portfolios/": {
      "get": {
        "operationId": "Reports_Summary_List_Portfolios",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Summary"
              }
            }
          }
        },
        "tags": [
          "Summary"
        ],
        "summary": "List portfolios"
      },
      "parameters": [
        {
          "name": "realm_code",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "space_code",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/realm0v4ry/space0ihxm/api/v1/reports/transaction-report-sql/": {
      "post": {
        "operationId": "Reports_Transaction_Report_Sql_Create",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TransactionReport"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/TransactionReport"
            }
          }
        },
        "tags": [
          "Transaction Report Sql"
        ],
        "summary": "Create"
      },
      "parameters": [
        {
          "name": "realm_code",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "space_code",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/realm0v4ry/space0ihxm/api/v1/reports/transaction-report/": {
      "post": {
        "operationId": "Reports_Transaction_Report_Create",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TransactionReport"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/TransactionReport"
            }
          }
        },
        "tags": [
          "Transaction Report"
        ],
        "summary": "Create"
      },
      "parameters": [
        {
          "name": "realm_code",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "space_code",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/realm0v4ry/space0ihxm/api/v1/reports/transaction-report/custom-field/": {
      "get": {
        "operationId": "Reports_Transaction_Report_Custom_Field_List",
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "id",
            "required": false,
            "type": "string"
          },
          {
            "name": "name",
            "in": "query",
            "description": "name",
            "required": false,
            "type": "string"
          },
          {
            "name": "ordering",
            "in": "query",
            "description": "Which field to use when ordering the results.",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "A page number within the paginated result set.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "required": [
                "count",
                "results"
              ],
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer"
                },
                "next": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/TransactionReportCustomField"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Custom Field"
        ],
        "summary": "Custom-field List"
      },
      "post": {
        "operationId": "Reports_Transaction_Report_Custom_Field_Create",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TransactionReportCustomField"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/TransactionReportCustomField"
            }
          }
        },
        "tags": [
          "Custom Field"
        ],
        "summary": "Custom-field Create"
      },
      "parameters": [
        {
          "name": "realm_code",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "space_code",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/realm0v4ry/space0ihxm/api/v1/reports/transaction-report/custom-field/bulk-delete/": {
      "post": {
        "operationId": "Reports_Transaction_Report_Custom_Field_Bulk_Delete",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TransactionReportCustomField"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/TransactionReportCustomField"
            }
          }
        },
        "tags": [
          "Custom Field"
        ],
        "summary": "Custom-field Bulk delete"
      },
      "parameters": [
        {
          "name": "realm_code",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "space_code",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/realm0v4ry/space0ihxm/api/v1/reports/transaction-report/custom-field/bulk-restore/": {
      "post": {
        "operationId": "Reports_Transaction_Report_Custom_Field_Bulk_Restore",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TransactionReportCustomField"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/TransactionReportCustomField"
            }
          }
        },
        "tags": [
          "Custom Field"
        ],
        "summary": "Custom-field Bulk restore"
      },
      "parameters": [
        {
          "name": "realm_code",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "space_code",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/realm0v4ry/space0ihxm/api/v1/reports/transaction-report/custom-field/ev-group/": {
      "post": {
        "operationId": "Reports_Transaction_Report_Custom_Field_List_Ev_Group",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TransactionReportCustomField"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/TransactionReportCustomField"
            }
          }
        },
        "tags": [
          "Custom Field"
        ],
        "summary": "Custom-field List ev group"
      },
      "parameters": [
        {
          "name": "realm_code",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "space_code",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/realm0v4ry/space0ihxm/api/v1/reports/transaction-report/custom-field/ev-item/": {
      "post": {
        "operationId": "Reports_Transaction_Report_Custom_Field_List_Ev_Item",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TransactionReportCustomField"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/TransactionReportCustomField"
            }
          }
        },
        "tags": [
          "Custom Field"
        ],
        "summary": "Custom-field List ev item"
      },
      "parameters": [
        {
          "name": "realm_code",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "space_code",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/realm0v4ry/space0ihxm/api/v1/reports/transaction-report/custom-field/{id}/": {
      "get": {
        "operationId": "Reports_Transaction_Report_Custom_Field_Read",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/TransactionReportCustomField"
            }
          }
        },
        "tags": [
          "Custom Field"
        ],
        "summary": "Custom-field Read"
      },
      "put": {
        "operationId": "Reports_Transaction_Report_Custom_Field_Update",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TransactionReportCustomField"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/TransactionReportCustomField"
            }
          }
        },
        "tags": [
          "Custom Field"
        ],
        "summary": "Custom-field Update"
      },
      "patch": {
        "operationId": "Reports_Transaction_Report_Custom_Field_Partial_Update",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TransactionReportCustomField"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/TransactionReportCustomField"
            }
          }
        },
        "tags": [
          "Custom Field"
        ],
        "summary": "Custom-field Partial update"
      },
      "delete": {
        "operationId": "Reports_Transaction_Report_Custom_Field_Delete",
        "description": "",
        "parameters": [],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "tags": [
          "Custom Field"
        ],
        "summary": "Custom-field Delete"
      },
      "parameters": [
        {
          "name": "realm_code",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "space_code",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "id",
          "in": "path",
          "description": "A unique integer value identifying this transaction report custom field.",
          "required": true,
          "type": "integer"
        }
      ]
    },
    "/realm0v4ry/space0ihxm/api/v1/reports/transaction-report/custom-field/{id}/delete/": {
      "get": {
        "operationId": "Reports_Transaction_Report_Custom_Field_Delete_Preview",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/TransactionReportCustomField"
            }
          }
        },
        "tags": [
          "Custom Field"
        ],
        "summary": "Custom-field Delete preview"
      },
      "parameters": [
        {
          "name": "realm_code",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "space_code",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "id",
          "in": "path",
          "description": "A unique integer value identifying this transaction report custom field.",
          "required": true,
          "type": "integer"
        }
      ]
    }
  },
  "definitions": {
    "BalanceReportCustomField": {
      "required": [
        "name",
        "configuration_code"
      ],
      "type": "object",
      "properties": {
        "id": {
          "title": "ID",
          "type": "integer",
          "readOnly": true
        },
        "name": {
          "title": "Name",
          "type": "string",
          "maxLength": 255,
          "minLength": 1
        },
        "user_code": {
          "title": "User code",
          "type": "string",
          "maxLength": 255,
          "x-nullable": true
        },
        "expr": {
          "title": "Expr",
          "type": "string",
          "default": "\"\"",
          "maxLength": 4096
        },
        "value_type": {
          "title": "Value type",
          "type": "integer",
          "enum": [
            20,
            10,
            40
          ]
        },
        "notes": {
          "title": "Notes",
          "type": "string"
        },
        "configuration_code": {
          "title": "Configuration Code",
          "type": "string",
          "maxLength": 255,
          "minLength": 1
        },
        "deleted_user_code": {
          "title": "Deleted user code",
          "type": "string",
          "readOnly": true,
          "maxLength": 255,
          "x-nullable": true
        }
      }
    },
    "GenericClassifierRecursiveField": {
      "type": "object",
      "properties": {}
    },
    "GenericClassifierView": {
      "type": "object",
      "properties": {
        "id": {
          "title": "ID",
          "type": "integer",
          "readOnly": true
        },
        "name": {
          "title": "Name",
          "type": "string",
          "maxLength": 255
        },
        "level": {
          "title": "Level",
          "type": "integer",
          "readOnly": true
        },
        "parent": {
          "title": "Parent",
          "type": "integer",
          "readOnly": true
        },
        "parent_object": {
          "$ref": "#/definitions/GenericClassifierRecursiveField"
        }
      }
    },
    "ReportGenericAttributeType": {
      "type": "object",
      "properties": {
        "id": {
          "title": "ID",
          "type": "integer",
          "readOnly": true
        },
        "user_code": {
          "title": "User code",
          "type": "string",
          "maxLength": 255,
          "x-nullable": true
        },
        "name": {
          "title": "Name",
          "description": "Human Readable Name of the object",
          "type": "string",
          "readOnly": true,
          "minLength": 1
        },
        "short_name": {
          "title": "Short name",
          "description": "Short Name of the object. Used in dropdown menus",
          "type": "string",
          "readOnly": true,
          "minLength": 1,
          "x-nullable": true
        },
        "public_name": {
          "title": "Public name",
          "description": "Used if user does not have permissions to view object",
          "type": "string",
          "readOnly": true,
          "minLength": 1,
          "x-nullable": true
        },
        "notes": {
          "title": "Notes",
          "description": "Notes, any useful information about the object",
          "type": "string",
          "readOnly": true,
          "minLength": 1,
          "x-nullable": true
        },
        "value_type": {
          "title": "Value type",
          "type": "integer",
          "enum": [
            20,
            10,
            40,
            30
          ],
          "readOnly": true
        },
        "deleted_user_code": {
          "title": "Deleted user code",
          "type": "string",
          "readOnly": true,
          "maxLength": 255,
          "x-nullable": true
        }
      }
    },
    "ReportGenericAttribute": {
      "type": "object",
      "properties": {
        "id": {
          "title": "ID",
          "type": "integer",
          "readOnly": true
        },
        "value_string": {
          "title": "Value (String)",
          "type": "string",
          "readOnly": true,
          "minLength": 1,
          "x-nullable": true
        },
        "value_float": {
          "title": "Value (Float)",
          "type": "number",
          "readOnly": true,
          "x-nullable": true
        },
        "value_date": {
          "title": "Value (Date)",
          "type": "string",
          "format": "date",
          "readOnly": true,
          "x-nullable": true
        },
        "classifier": {
          "title": "Classifier",
          "type": "integer",
          "readOnly": true,
          "x-nullable": true
        },
        "classifier_object": {
          "$ref": "#/definitions/GenericClassifierView"
        },
        "attribute_type": {
          "title": "Attribute type",
          "type": "integer",
          "readOnly": true
        },
        "attribute_type_object": {
          "$ref": "#/definitions/ReportGenericAttributeType"
        }
      },
      "x-nullable": true
    },
    "ReportInstrument": {
      "type": "object",
      "properties": {
        "id": {
          "title": "ID",
          "type": "integer",
          "readOnly": true
        },
        "instrument_type": {
          "title": "Instrument type",
          "type": "integer",
          "readOnly": true
        },
        "user_code": {
          "title": "User code",
          "type": "string",
          "maxLength": 255,
          "x-nullable": true
        },
        "name": {
          "title": "Name",
          "description": "Human Readable Name of the object",
          "type": "string",
          "readOnly": true,
          "minLength": 1
        },
        "short_name": {
          "title": "Short name",
          "description": "Short Name of the object. Used in dropdown menus",
          "type": "string",
          "readOnly": true,
          "minLength": 1,
          "x-nullable": true
        },
        "public_name": {
          "title": "Public name",
          "description": "Used if user does not have permissions to view object",
          "type": "string",
          "readOnly": true,
          "minLength": 1,
          "x-nullable": true
        },
        "notes": {
          "title": "Notes",
          "description": "Notes, any useful information about the object",
          "type": "string",
          "readOnly": true,
          "minLength": 1,
          "x-nullable": true
        },
        "pricing_currency": {
          "title": "Pricing currency",
          "type": "integer",
          "readOnly": true
        },
        "price_multiplier": {
          "title": "Price multiplier",
          "type": "number",
          "readOnly": true
        },
        "accrued_currency": {
          "title": "Accrued currency",
          "type": "integer",
          "readOnly": true
        },
        "accrued_multiplier": {
          "title": "Accrued multiplier",
          "type": "number",
          "readOnly": true
        },
        "default_price": {
          "title": "Default price",
          "type": "number",
          "readOnly": true
        },
        "default_accrued": {
          "title": "Default accrued",
          "type": "number",
          "readOnly": true
        },
        "user_text_1": {
          "title": "User text 1",
          "description": "User specified field 1",
          "type": "string",
          "readOnly": true,
          "minLength": 1,
          "x-nullable": true
        },
        "user_text_2": {
          "title": "User text 2",
          "description": "User specified field 2",
          "type": "string",
          "readOnly": true,
          "minLength": 1,
          "x-nullable": true
        },
        "user_text_3": {
          "title": "User text 3",
          "description": "User specified field 3",
          "type": "string",
          "readOnly": true,
          "minLength": 1,
          "x-nullable": true
        },
        "reference_for_pricing": {
          "title": "Reference for pricing",
          "type": "string",
          "readOnly": true,
          "minLength": 1
        },
        "maturity_date": {
          "title": "Maturity date",
          "type": "string",
          "format": "date",
          "readOnly": true,
          "x-nullable": true
        },
        "maturity_price": {
          "title": "Maturity price",
          "type": "number",
          "readOnly": true
        },
        "country": {
          "title": "Country",
          "type": "integer",
          "readOnly": true,
          "x-nullable": true
        },
        "deleted_user_code": {
          "title": "Deleted user code",
          "type": "string",
          "readOnly": true,
          "maxLength": 255,
          "x-nullable": true
        },
        "attributes": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ReportGenericAttribute"
          },
          "x-nullable": true
        }
      }
    },
    "InstrumentClass": {
      "required": [
        "id",
        "user_code"
      ],
      "type": "object",
      "properties": {
        "id": {
          "title": "ID",
          "type": "integer",
          "maximum": 32767,
          "minimum": 0
        },
        "user_code": {
          "title": "User code",
          "type": "string",
          "maxLength": 255,
          "minLength": 1
        },
        "name": {
          "title": "Name",
          "type": "string",
          "maxLength": 255
        },
        "description": {
          "title": "Description",
          "type": "string"
        }
      }
    },
    "ReportInstrumentType": {
      "type": "object",
      "properties": {
        "id": {
          "title": "ID",
          "type": "integer",
          "readOnly": true
        },
        "instrument_class": {
          "title": "Instrument class",
          "type": "integer",
          "readOnly": true
        },
        "instrument_class_object": {
          "$ref": "#/definitions/InstrumentClass"
        },
        "user_code": {
          "title": "User code",
          "type": "string",
          "maxLength": 255,
          "x-nullable": true
        },
        "name": {
          "title": "Name",
          "description": "Human Readable Name of the object",
          "type": "string",
          "readOnly": true,
          "minLength": 1
        },
        "short_name": {
          "title": "Short name",
          "description": "Short Name of the object. Used in dropdown menus",
          "type": "string",
          "readOnly": true,
          "minLength": 1,
          "x-nullable": true
        },
        "public_name": {
          "title": "Public name",
          "description": "Used if user does not have permissions to view object",
          "type": "string",
          "readOnly": true,
          "minLength": 1,
          "x-nullable": true
        },
        "notes": {
          "title": "Notes",
          "description": "Notes, any useful information about the object",
          "type": "string",
          "readOnly": true,
          "minLength": 1,
          "x-nullable": true
        },
        "maturity_date": {
          "title": "Maturity date",
          "type": "string",
          "format": "date",
          "readOnly": true,
          "x-nullable": true
        },
        "deleted_user_code": {
          "title": "Deleted user code",
          "type": "string",
          "readOnly": true,
          "maxLength": 255,
          "x-nullable": true
        }
      }
    },
    "ReportCountry": {
      "type": "object",
      "properties": {
        "id": {
          "title": "ID",
          "type": "integer",
          "readOnly": true
        },
        "country_code": {
          "title": "Country code",
          "type": "string",
          "readOnly": true,
          "minLength": 1,
          "x-nullable": true
        },
        "name": {
          "title": "Name",
          "type": "string",
          "readOnly": true,
          "minLength": 1
        },
        "region": {
          "title": "Region",
          "type": "string",
          "readOnly": true,
          "minLength": 1,
          "x-nullable": true
        },
        "region_code": {
          "title": "Region code",
          "type": "string",
          "readOnly": true,
          "minLength": 1,
          "x-nullable": true
        },
        "sub_region": {
          "title": "Sub region",
          "type": "string",
          "readOnly": true,
          "minLength": 1,
          "x-nullable": true
        },
        "sub_region_code": {
          "title": "Sub region code",
          "type": "string",
          "readOnly": true,
          "minLength": 1,
          "x-nullable": true
        },
        "user_code": {
          "title": "User code",
          "type": "string",
          "readOnly": true,
          "minLength": 1
        },
        "short_name": {
          "title": "Short name",
          "type": "string",
          "readOnly": true,
          "minLength": 1
        }
      }
    },
    "ReportCurrency": {
      "type": "object",
      "properties": {
        "id": {
          "title": "ID",
          "type": "integer",
          "readOnly": true
        },
        "user_code": {
          "title": "User code",
          "type": "string",
          "maxLength": 255,
          "x-nullable": true
        },
        "name": {
          "title": "Name",
          "description": "Human Readable Name of the object",
          "type": "string",
          "readOnly": true,
          "minLength": 1
        },
        "short_name": {
          "title": "Short name",
          "description": "Short Name of the object. Used in dropdown menus",
          "type": "string",
          "readOnly": true,
          "minLength": 1,
          "x-nullable": true
        },
        "notes": {
          "title": "Notes",
          "description": "Notes, any useful information about the object",
          "type": "string",
          "readOnly": true,
          "minLength": 1,
          "x-nullable": true
        },
        "reference_for_pricing": {
          "title": "Reference for pricing",
          "type": "string",
          "readOnly": true,
          "minLength": 1
        },
        "default_fx_rate": {
          "title": "Default fx rate",
          "type": "number",
          "readOnly": true
        },
        "country": {
          "title": "Country",
          "type": "integer",
          "readOnly": true,
          "x-nullable": true
        },
        "attributes": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ReportGenericAttribute"
          },
          "x-nullable": true
        },
        "deleted_user_code": {
          "title": "Deleted user code",
          "type": "string",
          "readOnly": true,
          "maxLength": 255,
          "x-nullable": true
        }
      }
    },
    "ReportPortfolio": {
      "type": "object",
      "properties": {
        "id": {
          "title": "ID",
          "type": "integer",
          "readOnly": true
        },
        "user_code": {
          "title": "User code",
          "type": "string",
          "maxLength": 255,
          "x-nullable": true
        },
        "name": {
          "title": "Name",
          "description": "Human Readable Name of the object",
          "type": "string",
          "readOnly": true,
          "minLength": 1
        },
        "short_name": {
          "title": "Short name",
          "description": "Short Name of the object. Used in dropdown menus",
          "type": "string",
          "readOnly": true,
          "minLength": 1,
          "x-nullable": true
        },
        "public_name": {
          "title": "Public name",
          "description": "Used if user does not have permissions to view object",
          "type": "string",
          "readOnly": true,
          "minLength": 1,
          "x-nullable": true
        },
        "notes": {
          "title": "Notes",
          "description": "Notes, any useful information about the object",
          "type": "string",
          "readOnly": true,
          "minLength": 1,
          "x-nullable": true
        },
        "first_transaction_date": {
          "title": "First transaction date",
          "type": "string",
          "format": "date",
          "readOnly": true,
          "x-nullable": true
        },
        "first_cash_flow_date": {
          "title": "First cash flow date",
          "type": "string",
          "format": "date",
          "readOnly": true,
          "x-nullable": true
        },
        "deleted_user_code": {
          "title": "Deleted user code",
          "type": "string",
          "readOnly": true,
          "maxLength": 255,
          "x-nullable": true
        },
        "attributes": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ReportGenericAttribute"
          },
          "x-nullable": true
        }
      }
    },
    "ReportAccount": {
      "type": "object",
      "properties": {
        "id": {
          "title": "ID",
          "type": "integer",
          "readOnly": true
        },
        "type": {
          "title": "Account type",
          "type": "integer",
          "readOnly": true,
          "x-nullable": true
        },
        "user_code": {
          "title": "User code",
          "type": "string",
          "maxLength": 255,
          "x-nullable": true
        },
        "name": {
          "title": "Name",
          "description": "Human Readable Name of the object",
          "type": "string",
          "readOnly": true,
          "minLength": 1
        },
        "short_name": {
          "title": "Short name",
          "description": "Short Name of the object. Used in dropdown menus",
          "type": "string",
          "readOnly": true,
          "minLength": 1,
          "x-nullable": true
        },
        "public_name": {
          "title": "Public name",
          "description": "Used if user does not have permissions to view object",
          "type": "string",
          "readOnly": true,
          "minLength": 1,
          "x-nullable": true
        },
        "notes": {
          "title": "Notes",
          "description": "Notes, any useful information about the object",
          "type": "string",
          "readOnly": true,
          "minLength": 1,
[...]
